body {
    font-family: 'Roboto', sans-serif;
}



.corpo {
    
    width: 100%;
    height:  100%;
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 45px;
    
   
   
   
}

.header {
    background-color: #404EED;
    height: 65px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
   padding-left: 13%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
}

.logo {

    height: 100%;
    display: flex;
    
}

.menu-escolha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    width: 50%;
    
   
}

.menu-escolha .opcoes {
    
    display: flex;

}

.titulo-escolha .tipo .img-Referencia {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #232323;
}

.titulo-escolha {
    margin-top: 30px;
    margin-bottom: 10px;
}


.icone {
    width: 100px;
    height: 100px;
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    margin-bottom: 9px;

 
    
}
.icone.selecionado {
    
  border: 3px solid #404EED;  
 
}



.tipo{
    display: flex;
    width: 100px;
    justify-content: center;
}
    


.ilustracao {
    height: 780px;
    width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #404EED;
}

.mulher{
 height: 670px; 
 max-width: fit-content;
 
}

.pedido-baixo{
   margin-top: 32px; 
}

.caixa-link{
    height: 40px;
   background-color: #F2F2F2; 
   color:  #818181 ;
   width: 400px;
   border-radius: 10px;
   display: flex;
   align-items: center;
   margin-top: 10px;

}
input{
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 15px;
}

.confirma {
    height: 40px;
    width: 400px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 23px;
    background-color: #C4C4C4;
    color: white;
    border-radius: 10px;
    border-color: transparent;
}
.confirma.selecionado{
    background-color: #404EED;

}

.ultimos-pedidos{
    width: 100%;
    height: 342px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: baseline;
    background-color: #F2F2F2;
}

.pedidos{
    display: flex;
    flex-wrap: nowrap;
    
    
}

.pedido{
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
}
span{
    margin-top: 5px;
    margin-left: 10%;
    width: 100%;
}